
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    --color-fondo: #e2e2e2; 
    --color-buttons: #f6f6f6;   
    --color-calculator: #fff;
    --color-numbers: #050505;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    color: var(--color-numbers);
}



body {
    background: var(--color-fondo);
    transition: .5s linear;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    /* width: 100%; */
    display: flex;
    justify-content: center;
}

.calculator {
    margin: 10px;
    /* min-width: 275px; */
    width: 100%;
    padding: 20px;
    min-height: 550px;
    height: 100%;
    border-radius: 10px;
    background: var(--color-calculator);
    transition: .5s linear;
    /* box-shadow: 0 3px 15px rgb(255, 255, 255), */
                /* 3px 0 15px rgba(50, 50, 50, 0.4); */
    display: grid;
    place-content: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "result result result result"
        "percent reboot restart delete"
        "fraction pow sqrt division"
        "n7 n8 n9 multiplication"
        "n4 n5 n6 minus"
        "n1 n2 n3 add"
        "negative n0 decimal equal";
    word-break: break-all;
}

.panel {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 45px 0px 8px 0px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
    /* border: 1px solid black; */
    /* overflow: auto; */
}


.change-light {
    position: absolute;
    padding: 3px;
    width: 100px;
    height: 35px;
    background: var(--color-fondo);
    /* box-shadow: 0px 0px 10px inset rgba(55, 55, 55, 0.4), */
                /* 0px 0px 10px inset rgba(245, 245, 245, .5); */
    left: calc(50% - 50px);
    top: 0px;
    border-radius: 15px;
    font-size: 30px;
    display: flex;
    transition: .5s linear;
    justify-content: flex-end;
}

.bi {
    position: absolute;
    transition: .5s linear;
}
.moon {
    opacity: 0;
}
.sun {
    opacity: 1;
}

.option {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: var(--color-buttons);
    transition: .5s linear;
}

.button {
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    background: var(--color-buttons);
    transition: .5s linear;
    /* box-shadow: 0px 2px 10px rgba(255, 255, 255, 1), */
                /* 2px 0px 5px rgba(95, 95, 95, 0.4); */
    border-radius: 10px;
}

.multiplication {
    grid-area: multiplication;
}
.minus {
    grid-area: minus;
}
.add {
    grid-area: add;
}
.decimal {
    grid-area: decimal;
}
.equal {
    grid-area: equal;
}

.result {
    grid-area: result;
}
.percent {
    grid-area: percent;
}
.reboot {
    grid-area: reboot;
}
.restart {
    grid-area: restart;
}
.delete {
    grid-area: delete;
}
.fraction {
    grid-area: fraction;
}
.pow {
    grid-area: pow;
}
.sqrt {
    grid-area: sqrt;
}
.division {
    grid-area: division;
}
.n-0 {
    grid-area: n0;
}
.n-1 {
    grid-area: n1;
}
.n-2 {
    grid-area: n2;
}
.n-3 {
    grid-area: n3;
}
.n-4 {
    grid-area: n4;
}
.n-5 {
    grid-area: n5;
}
.n-6 {
    grid-area: n6;
}
.n-7 {
    grid-area: n7;
}
.n-8 {
    grid-area: n8;
}
.n-9 {
    grid-area: n9;
}
